# Projeto Técnicas de programação I

## Análise exploratória de dados/Pandas

Nomes:
- Álvaro Antônio Fonseca De Souza
- Claudia Cavalcante Fonseca
- Roulien Roland Martins Ribeiro

Turma: 970 LM Tech Data Talents

Nesse projeto trabalharemos com dados fictícios de investidores.

São 3 arquivos que devem ser carregados para responder as perguntas abaixo.

Para a entrega, coloque o notebook respondido no seu github (um por grupo)!

Informações

Cadastro:
- **id** : Identificação do investidor
- **Nome** : Nome completo do investidor 
- **Sexo** : Feminino ou masculino
- **Nasc** : Data de nascimento
- **Idade** : Idade do investidor 
- **Email** : E-mail do investidor
- **Lat_long** : Dados geográficos do investidor
- **Job** : Profisão do investidor ou do seu responsável (em inglês)
- **Estado** : Estado onde o investidor reside

Investimento:
- **id** : Identificação do investidor
- **Salario** : Renda do investidor ou seu responsável
- **Perfil** : Perfil de investimento
- **Ativo01, Ativo02, Ativo03, Ativo04, Ativo05, Ativo06, Ativo07** : O quanto de dinheiro o investidor colocou em cada ativo
- **Nota1, Nota2** : O quanto o investidor está satisfeito com nossa empresa (2 avaliações)

Lembrando que esses dados são irreais e fictícios

Arquivo cadastro.csv


Arquivo investimento.csv (dividido em 2 partes)

### Critérios de avaliação

Os seguintes itens serão avaliados:

1. Reprodutibilidade do código: seu código será executado e precisa gerar os mesmos resultados apresentados por você;

2. Clareza: seu código precisa ser claro e deve existir uma linha de raciocínio direta. Comente o código em pontos que julgar necessário para o entendimento total;

3. Explicação de todos os processos feitos e decisões tomadas

## Informações Gerais sobre o Projeto

- O projeto poderá ser desenvolvido __individualmente__ ou em __grupos com até 4 pessoas__, caos façam em grupos enviar a relação de alunos do grupo para o professor;


- Data de Entrega: 14/04/2023;

- Entrega: Através do _Class_

## 1 - Carregar os arquivos e cadastro, investimento1 e investimento2 e mostrar a quantidade de linhas de cada um, além das informações desses dataframes

In [1]:
import pandas as pd
import datetime as dt
pd.set_option("display.max_columns", 100);

arquivos = ["cadastro.csv","investimento_parte1.csv","investimento_parte2.csv"];
dataframes = [pd.read_table(arquivo, delimiter =",") for arquivo in arquivos];
df_cadastro, df_investimento1, df_investimento2 = dataframes;

for arquivo,dataframe in zip(arquivos,dataframes):
    print("Arquivo: ",arquivo);
    print(len(dataframe.index)," linhas");
    print(dataframe.info());

Arquivo:  cadastro.csv
38754  linhas
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38754 entries, 0 to 38753
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        38754 non-null  object
 1   Nome      38754 non-null  object
 2   Sexo      38754 non-null  object
 3   Nasc      38754 non-null  object
 4   Idade     38754 non-null  int64
 5   Email     38754 non-null  object
 6   Lat_long  38754 non-null  object
 7   Job       38754 non-null  object
 8   Estado    38754 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.7+ MB
None
Arquivo:  investimento_parte1.csv
20000  linhas
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       20000 non-null  object
 1   Salario  20000 non-null  object
 2   Perfil   20000 non-null  object
 3   Ativo01  15012 non-null  float64
 4   Ativo02  16857 non-null  float64
 5   Ativo03  16760 non-null  float64
 6   Ativo04  13799 non-null  float64
 7   Ativo05  16829 non-null  float64
 8   Ativo06  9895 non-null   float64
 9   Ativo07  20000 non-null  float64
 10  Nota1    18469 non-null  float64
 11  Nota2    18954 non-null  float64
dtypes: float64(9), object(3)
memory usage: 1.8+ MB
None
Arquivo:  investimento_parte2.csv
24052  linhas
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24052 entries, 0 to 24051
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       24052 non-null  object
 1   Salario  24052 non-null  object
 2   Perfil   24052 non-null  object
 3   Ativo01  17994 non-null  float64
 4   Ativo02  20245 non-null  float64
 5   Ativo03  20249 non-null  float64
 6   Ativo04  16685 non-null  float64
 7   Ativo05  20211 non-null  float64
 8   Ativo06  11932 non-null  float64
 9   Ativo07  24052 non-null  float64
 10  Nota1    22172 non-null  float64
 11  Nota2    22810 non-null  float64
dtypes: float64(9), object(3)
memory usage: 2.2+ MB
None

## 2 - Juntar os dataframes de investimento1 e investimento2 em um só e ver a quantidade de linhas

In [2]:
df_investimento = pd.concat([df_investimento1, df_investimento2])
print(len(df_investimento.index))

44052

## 3 - Crie um novo dataframe eliminando as linhas duplicadas

In [3]:
df_investimento_unicos = df_investimento.drop_duplicates()
#print(len(df_investimento_unicos['id']))

## 4 - Junte o dataframe de investimento com o de cadastro
Dica: use a chave id

In [4]:

df_cadastro_investimento = pd.merge(df_cadastro, df_investimento_unicos, how = 'inner', on = 'id')
#print(len(df_cadastro_investimento['id']))
df_cadastro_investimento.head()

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,NaN,4480.91,2329.72,480.72,79.600372,9.802620
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,NaN,5624.22,2669.98,504.17,44.406893,90.512871
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,NaN,5033.83,2229.45,523.12,44.020024,65.060941
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,Agressivo,NaN,5258.69,3723.10,NaN,5933.91,NaN,486.05,25.597924,86.548918
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292

## 5 - Ordene o dataframe pelo id, de forma crescente e redefina o índice

In [8]:
df_cadastro_investimento_order_id = df_cadastro_investimento.sort_values(by = 'id').set_index('id');

print(df_cadastro_investimento_order_id.head(20));

                                               Nome  Sexo        Nasc  Idade  \
id
id0000001                     Eunice Hellen do Vale   Fem  1970-11-12     51
id0000002           Sebastião Castelo Branco Júnior  Masc  2019-12-10      2
id0000003                 Romildo Fábio de Carvalho  Masc  2015-12-28      6
id0000004                 Lana Albina de Lemos Mumy   Fem  1993-05-03     28
id0000005          Rose Elisângela Vyrnium de Moura   Fem  1984-06-10     37
id0000006   Osório Mário de Parreira Sassoer Otremo  Masc  1999-07-02     22
id0000007                       Andressa de Menezes   Fem  2000-03-09     21
id0000008                            Roger da Silva  Masc  2012-12-04      9
id0000009                           Paulo de Toledo  Masc  1996-12-05     25
id0000010                    Quirino Max dos Santos  Masc  1974-02-08     47
id0000011                              Susan Espada   Fem  1998-08-10     23
id0000012                  Omar Cirilo da Conceição  Masc  1983-03-29     38
id0000013  Walter Nilo Dereson de Torquato Trevisan  Masc  1973-10-27     48
id0000014                         Eunice Couto Utre   Fem  2016-08-16      5
id0000015     Shirley Magali dos Santos Ilil Brasil   Fem  1985-09-25     36
id0000016       Sílvio Baltazar da Costa dos Santos  Masc  1989-07-01     32
id0000017         Washington Décio Miveman de Leite  Masc  1983-01-16     38
id0000018           Edivaldo Silvair de França Peke  Masc  1978-06-22     43
id0000019              Hellen de Teixeira Ezelimman   Fem  1991-05-31     30
id0000020                     Albina Lúcia da Silva   Fem  1994-05-02     27

                               Email  \
id
id0000001           djones@yahoo.com
id0000002     barnesandrea@yahoo.com
id0000003    walkermichael@yahoo.com
id0000004     cobbangela@hotmail.com
id0000005    crawfordcraig@yahoo.com
id0000006  ramirezjennifer@yahoo.com
id0000007         pdouglas@yahoo.com
id0000008         idavis@hotmail.com
id0000009      raymonderic@gmail.com
id0000010        patrick65@yahoo.com
id0000011        louis80@hotmail.com
id0000012  charlestaylor@hotmail.com
id0000013     susananthony@yahoo.com
id0000014          jason83@yahoo.com
id0000015          ulevine@yahoo.com
id0000016     carterashley@yahoo.com
id0000017       loribush@hotmail.com
id0000018          jason73@yahoo.com
id0000019     bakermichael@gmail.com
id0000020     williamcooke@yahoo.com

                                                   Lat_long  \
id
id0000001    (Decimal('24.7024355'), Decimal('-28.038258'))
id0000002    (Decimal('21.8589875'), Decimal('122.830566'))
id0000003    (Decimal('-28.2161525'), Decimal('97.140529'))
id0000004    (Decimal('-40.8557635'), Decimal('-2.936099'))
id0000005   (Decimal('-20.2620885'), Decimal('104.349223'))
id0000006     (Decimal('74.407059'), Decimal('-24.460973'))
id0000007  (Decimal('-15.3220025'), Decimal('-143.141478'))
id0000008     (Decimal('26.852207'), Decimal('154.834424'))
id0000009     (Decimal('6.098341'), Decimal('-156.689139'))
id0000010     (Decimal('37.9226295'), Decimal('30.582043'))
id0000011      (Decimal('36.023380'), Decimal('-7.012638'))
id0000012   (Decimal('-25.776223'), Decimal('-113.289321'))
id0000013    (Decimal('24.775200'), Decimal('-145.389694'))
id0000014    (Decimal('-3.3468495'), Decimal('-92.684000'))
id0000015     (Decimal('53.713752'), Decimal('-26.655324'))
id0000016    (Decimal('-45.978957'), Decimal('-21.700752'))
id0000017    (Decimal('88.021268'), Decimal('-108.458187'))
id0000018       (Decimal('5.382705'), Decimal('47.110770'))
id0000019     (Decimal('-68.426187'), Decimal('-3.374860'))
id0000020     (Decimal('58.271773'), Decimal('178.779767'))

                                             Job Estado    Salario  \
id
id0000001                       Technical author     TO     $63.67
id0000002                   Biochemist, clinical     DF     $21.96
id0000003  Development worker, international aid     DF  $62497.64
id0000004              Estate manager/land agent     DF  $99878.74
id0000005    Chartered public finance accountant     MS    $188.01
id0000006                              Press sub     MS    $375.93
id0000007                        Learning mentor     RO      $9.26
id0000008           Garment/textile technologist     RS      $1.13
id0000009           Designer, exhibition/display     DF    $557.91
id0000010                             Air broker     RR    $801.24
id0000011                        Producer, radio     RR   $6409.88
id0000012                              Archivist     CE    $444.62
id0000013       Surveyor, commercial/residential     MA     $46.69
id0000014             Civil engineer, consulting     PB     $68.97
id0000015                 Engineer, aeronautical     PA  $52421.54
id0000016                                Curator     MG      $6.89
id0000017               Plant breeder/geneticist     MT     $32.66
id0000018           Conservation officer, nature     RR   $9116.26
id0000019           Designer, industrial/product     AC   $7049.67
id0000020             Further education lecturer     AC      $9.84

                Perfil  Ativo01  Ativo02  Ativo03   Ativo04  Ativo05  Ativo06  \
id
id0000001     Moderado  1174.27  4980.98  2638.24       NaN  4480.91  2329.72
id0000002     Moderado   842.12  5646.09  3336.07       NaN  5624.22  2669.98
id0000003    Agressivo   818.81  5516.52  3396.64       NaN  5033.83  2229.45
id0000004    Agressivo      NaN  5258.69  3723.10       NaN  5933.91      NaN
id0000005  Conservador  1505.16  6415.30  3462.67  30841.35  6044.86  2198.89
id0000006    Agressivo   858.43  5628.75      NaN  13431.14  4409.81      NaN
id0000007     Moderado   807.29  5160.75  3257.88  22760.80  6342.31  2450.48
id0000008    Agressivo      NaN  4538.11  3199.12  16247.26      NaN  2282.50
id0000009    Agressivo  1166.91  4636.14  3430.73  18690.63  5040.74  2777.62
id0000010    Agressivo  1054.60  4753.33  3579.91  21298.94  4818.91  2027.57
id0000011     Moderado      NaN  5130.04  2925.34  23220.84  5157.39  2049.32
id0000012    Agressivo  1006.47  5217.88  3143.65   5799.14  5486.30      NaN
id0000013  Conservador  1876.13  4657.72  3040.72       NaN  7040.24      NaN
id0000014    Agressivo      NaN  5656.93  3526.60       NaN  5476.60  2432.20
id0000015     Moderado  1187.21  5349.16  3253.68   8638.89  5151.24      NaN
id0000016    Agressivo  1125.35  4712.97  3525.08  19114.69  4207.58  2231.58
id0000017  Conservador      NaN  5056.66  3099.39  35984.01  5312.40  2016.40
id0000018  Conservador  1240.09      NaN  3011.56  10840.44  4171.06      NaN
id0000019     Moderado   986.04  4609.29  3679.42  18080.02  7146.23      NaN
id0000020    Agressivo   827.68  4560.12  2911.12  16411.54  5677.17  2286.66

           Ativo07      Nota1      Nota2
id
id0000001   480.72  79.600372   9.802620
id0000002   504.17  44.406893  90.512871
id0000003   523.12  44.020024  65.060941
id0000004   486.05  25.597924  86.548918
id0000005   512.98  14.463307  33.566292
id0000006   492.03  79.692402  76.804162
id0000007   490.12  11.933962  29.765772
id0000008   496.43  76.898096  43.554774
id0000009   500.43  45.322387  62.157044
id0000010   500.59  53.824813  10.415551
id0000011   498.78  68.001128   7.204497
id0000012   500.88  19.409556  94.967726
id0000013   494.46  59.022735   5.802289
id0000014   515.56  47.480025  55.242552
id0000015   492.34  41.598180  15.227546
id0000016   497.45  94.645555  60.630805
id0000017   503.70  12.950388  49.282343
id0000018   485.50  34.059700  61.151682
id0000019   507.71        NaN  62.656956
id0000020   487.55  41.485260  54.730773

## 6 - Faça uma análise dos dados faltantes e trate-os

Mostre todas as colunas com dados faltantes, sua quantidade/porcentagem e como tratar (preencher) cada uma delas explicando sua estratégia

In [6]:
#Filtrando faltantes
faltantes=();

for coluna in df_cadastro_investimento_order_id.columns:
    qtd_faltantes= df_cadastro_investimento_order_id.loc[:,coluna].isna().sum();
    qtd_total = len(df_cadastro_investimento_order_id.index);

    if qtd_faltantes != 0:
        print(f"- {coluna}\nQuantidade de faltantes: {qtd_faltantes} ({(qtd_faltantes*100)/qtd_total:.2f}%)");
        if "Ativo" in coluna:
            df_cadastro_investimento_order_id[coluna] = df_cadastro_investimento_order_id[coluna].fillna(0);
        elif "Nota" in coluna:
            media_simples=df_cadastro_investimento_order_id[coluna].mean();
            df_cadastro_investimento_order_id[coluna] = df_cadastro_investimento_order_id[coluna].fillna(media_simples);

#print(df_cadastro_investimento_order_id.head(23));

print("Escolhemos substituir os campos nulos referente aos 'Ativos' por 0, simbolizando que o investidor não tem nenhuma quantia investida naquele ativo.");
print("Escolhemos substituir os campos nulos referente às 'Notas' pela média de cada nota. Assim, o resultado final da média das notas não será afetado. Talvez fosse mais interessante adicionar alguns filtros à média, a fim de manter a média de cada nicho em vez da média geral. Mas, para isso, precisaríamos saber mais sobre a área específica e o objetivo das queries. Por outro lado, a média geral também é importante, então talvez fosse interessante não preencher os dados faltantes, mantendo os dados originais.");

- Ativo01
Quantidade de faltantes: 9724 (25.09%)
- Ativo02
Quantidade de faltantes: 6100 (15.74%)
- Ativo03
Quantidade de faltantes: 6169 (15.92%)
- Ativo04
Quantidade de faltantes: 11887 (30.67%)
- Ativo05
Quantidade de faltantes: 6191 (15.98%)
- Ativo06
Quantidade de faltantes: 19514 (50.35%)
- Nota1
Quantidade de faltantes: 3000 (7.74%)
- Nota2
Quantidade de faltantes: 2000 (5.16%)
Escolhemos substituir os campos nulos referente aos 'Ativos' por 0, simbolizando que o investidor não tem nenhuma quantia investida naquele ativo.
Escolhemos substituir os campos nulos referente às 'Notas' pela média de cada nota. Assim, o resultado final da média das notas não será afetado. Talvez fosse mais interessante adicionar alguns filtros à média, a fim de manter a média de cada nicho em vez da média geral. Mas, para isso, precisaríamos saber mais sobre a área específica e o objetivo das queries. Por outro lado, a média geral também é importante, então talvez fosse interessante não preencher os dados faltantes, mantendo os dados originais.

## 7 - Manipule os dados a seguir:
- Criar coluna "Total" somando o valor de todos os ativos por investidor
- Criar coluna "Media" com a média das notas 1 e 2
- Criar coluna "Dominio" com apenas o domínio do email (dica: separar por @)
- Mudar o nome da coluna "Salário" para "Renda" e tratar a coluna (sem caracter $ e tipo numérica)
- Mudar os dados da coluna "Sexo" para Masculino e Feminino (tente usar o map)
- Transformar os dados da coluna Media em inteiro
- Criar coluna "NPS" onde o investidor é promotor se a média das notas é maior igual a 80, neutro se a média estiver entre 50 e 80, e detrator se for abaixo de 50

## 8 - Calcule os seguintes dados
- Calcule o total investido em cada coluna Ativo (tente usar o apply)
- Qual o menor valor investido em cada ativo?
- Mostre a média e desvio padrão de cada ativo
- Qual a idade do investidor mais velho?
- Qual a mediana da coluna Média?

## 9 - Responder as perguntas abaixo

- Quantos investidores são promotores?
- Quantos investidores são do sexo feminino?
- Quantos investidores investiram mais de 16000 no Ativo04?
- Quantos investidores investiram mais de 16000 no Ativo04 e menos de 5000 no Ativo05?
- Quantos investidores do sexo feminino tem mais de 25 anos e investiu menos de 10000? (bonus: por que esse dado seria importante para a estratégia da nossa empresa?

- Quantos investidores tem em cada estado (dica: use groupby)
- Qual é a soma do total investido por cada estado?
- Como os investidores se distribuem em promotores, detratores e neutros?
- Qual é a média do total investido por promotores, detratores e neutros?