# Projeto Técnicas de programação I

## Análise exploratória de dados/Pandas

Nomes:
- Álvaro Antônio Fonseca De Souza
- Claudia Cavalcante Fonseca
- Roulien Roland Martins Ribeiro

Turma: 970 LM Tech Data Talents

Nesse projeto trabalharemos com dados fictícios de investidores.

São 3 arquivos que devem ser carregados para responder as perguntas abaixo.

Para a entrega, coloque o notebook respondido no seu github (um por grupo)!

Informações

Cadastro:
- **id** : Identificação do investidor
- **Nome** : Nome completo do investidor 
- **Sexo** : Feminino ou masculino
- **Nasc** : Data de nascimento
- **Idade** : Idade do investidor 
- **Email** : E-mail do investidor
- **Lat_long** : Dados geográficos do investidor
- **Job** : Profisão do investidor ou do seu responsável (em inglês)
- **Estado** : Estado onde o investidor reside

Investimento:
- **id** : Identificação do investidor
- **Salario** : Renda do investidor ou seu responsável
- **Perfil** : Perfil de investimento
- **Ativo01, Ativo02, Ativo03, Ativo04, Ativo05, Ativo06, Ativo07** : O quanto de dinheiro o investidor colocou em cada ativo
- **Nota1, Nota2** : O quanto o investidor está satisfeito com nossa empresa (2 avaliações)

Lembrando que esses dados são irreais e fictícios

Arquivo cadastro.csv


Arquivo investimento.csv (dividido em 2 partes)

### Critérios de avaliação

Os seguintes itens serão avaliados:

1. Reprodutibilidade do código: seu código será executado e precisa gerar os mesmos resultados apresentados por você;

2. Clareza: seu código precisa ser claro e deve existir uma linha de raciocínio direta. Comente o código em pontos que julgar necessário para o entendimento total;

3. Explicação de todos os processos feitos e decisões tomadas

## Informações Gerais sobre o Projeto

- O projeto poderá ser desenvolvido __individualmente__ ou em __grupos com até 4 pessoas__, caos façam em grupos enviar a relação de alunos do grupo para o professor;


- Data de Entrega: 14/04/2023;

- Entrega: Através do _Class_

## 1 - Carregar os arquivos e cadastro, investimento1 e investimento2 e mostrar a quantidade de linhas de cada um, além das informações desses dataframes

In [15]:
import pandas as pd
import datetime as dt
pd.set_option("display.max_columns", 100);

arquivos = ["cadastro.csv","investimento_parte1.csv","investimento_parte2.csv"];
dataframes = [pd.read_csv(arquivo, delimiter =",") for arquivo in arquivos];
df_cadastro, df_investimento1, df_investimento2 = dataframes;

for arquivo,dataframe in zip(arquivos,dataframes):
    print("Arquivo: ",arquivo);
    print(len(dataframe.index)," linhas");
    print(dataframe.info());

Arquivo:  cadastro.csv
38754  linhas
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38754 entries, 0 to 38753
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        38754 non-null  object
 1   Nome      38754 non-null  object
 2   Sexo      38754 non-null  object
 3   Nasc      38754 non-null  object
 4   Idade     38754 non-null  int64
 5   Email     38754 non-null  object
 6   Lat_long  38754 non-null  object
 7   Job       38754 non-null  object
 8   Estado    38754 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.7+ MB
None
Arquivo:  investimento_parte1.csv
20000  linhas
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       20000 non-null  object
 1   Salario  20000 non-null  object
 2   Perfil   20000 non-null  object
 3   Ativo01  15012 non-null  float64
 4   Ativo02  16857 non-null  float64
 5   Ativo03  16760 non-null  float64
 6   Ativo04  13799 non-null  float64
 7   Ativo05  16829 non-null  float64
 8   Ativo06  9895 non-null   float64
 9   Ativo07  20000 non-null  float64
 10  Nota1    18469 non-null  float64
 11  Nota2    18954 non-null  float64
dtypes: float64(9), object(3)
memory usage: 1.8+ MB
None
Arquivo:  investimento_parte2.csv
24052  linhas
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24052 entries, 0 to 24051
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       24052 non-null  object
 1   Salario  24052 non-null  object
 2   Perfil   24052 non-null  object
 3   Ativo01  17994 non-null  float64
 4   Ativo02  20245 non-null  float64
 5   Ativo03  20249 non-null  float64
 6   Ativo04  16685 non-null  float64
 7   Ativo05  20211 non-null  float64
 8   Ativo06  11932 non-null  float64
 9   Ativo07  24052 non-null  float64
 10  Nota1    22172 non-null  float64
 11  Nota2    22810 non-null  float64
dtypes: float64(9), object(3)
memory usage: 2.2+ MB
None

## 2 - Juntar os dataframes de investimento1 e investimento2 em um só e ver a quantidade de linhas

In [16]:
df_investimento = pd.concat([df_investimento1, df_investimento2])
print(len(df_investimento.index))

44052

## 3 - Crie um novo dataframe eliminando as linhas duplicadas

In [17]:
df_investimento_unicos = df_investimento.drop_duplicates()
#print(len(df_investimento_unicos['id']))

## 4 - Junte o dataframe de investimento com o de cadastro
Dica: use a chave id

In [18]:

df_cadastro_investimento = pd.merge(df_cadastro, df_investimento_unicos, how = 'inner', on = 'id')
#display(df_cadastro_investimento);

## 5 - Ordene o dataframe pelo id, de forma crescente e redefina o índice

In [19]:
df_investidores = df_cadastro_investimento.sort_values(by = 'id').set_index('id');
#display(df_investidores);

df_cadastro_investimento_order_id = df_cadastro_investimento.sort_values(by = 'id').set_index('id');

print(df_cadastro_investimento_order_id.head(20));

## 6 - Faça uma análise dos dados faltantes e trate-os

Mostre todas as colunas com dados faltantes, sua quantidade/porcentagem e como tratar (preencher) cada uma delas explicando sua estratégia

In [20]:
#Filtrando faltantes
faltantes=();

for coluna in df_investidores.columns:
    qtd_faltantes= df_investidores.loc[:,coluna].isna().sum();
    qtd_total = len(df_investidores.index);

    if qtd_faltantes != 0:
        print(f"- {coluna}\nQuantidade de faltantes: {qtd_faltantes} ({(qtd_faltantes*100)/qtd_total:.2f}%)");
        if "Ativo" in coluna:
            df_investidores[coluna] = df_investidores[coluna].fillna(0);
        elif "Nota" in coluna:
            media_simples=df_investidores[coluna].mean();
            df_investidores[coluna] = df_investidores[coluna].fillna(media_simples);

#display(df_cadastro_investimento_order_id);

print("Escolhemos substituir os campos nulos referente aos 'Ativos' por 0, simbolizando que o investidor não tem nenhuma quantia investida naquele ativo.");
print("Escolhemos substituir os campos nulos referente às 'Notas' pela média de cada nota. Assim, o resultado final da média das notas não será afetado. Talvez fosse mais interessante adicionar alguns filtros à média, a fim de manter a média de cada nicho em vez da média geral. Mas, para isso, precisaríamos saber mais sobre a área específica e o objetivo das queries. Por outro lado, a média geral também é importante, então talvez fosse interessante não preencher os dados faltantes, mantendo os dados originais.");

- Ativo01
Quantidade de faltantes: 9724 (25.09%)
- Ativo02
Quantidade de faltantes: 6100 (15.74%)
- Ativo03
Quantidade de faltantes: 6169 (15.92%)
- Ativo04
Quantidade de faltantes: 11887 (30.67%)
- Ativo05
Quantidade de faltantes: 6191 (15.98%)
- Ativo06
Quantidade de faltantes: 19514 (50.35%)
- Nota1
Quantidade de faltantes: 3000 (7.74%)
- Nota2
Quantidade de faltantes: 2000 (5.16%)
Escolhemos substituir os campos nulos referente aos 'Ativos' por 0, simbolizando que o investidor não tem nenhuma quantia investida naquele ativo.
Escolhemos substituir os campos nulos referente às 'Notas' pela média de cada nota. Assim, o resultado final da média das notas não será afetado. Talvez fosse mais interessante adicionar alguns filtros à média, a fim de manter a média de cada nicho em vez da média geral. Mas, para isso, precisaríamos saber mais sobre a área específica e o objetivo das queries. Por outro lado, a média geral também é importante, então talvez fosse interessante não preencher os dados faltantes, mantendo os dados originais.

## 7 - Manipule os dados a seguir:
- Criar coluna "Total" somando o valor de todos os ativos por investidor
- Criar coluna "Media" com a média das notas 1 e 2
- Criar coluna "Dominio" com apenas o domínio do email (dica: separar por @)
- Mudar o nome da coluna "Salário" para "Renda" e tratar a coluna (sem caracter $ e tipo numérica)
- Mudar os dados da coluna "Sexo" para Masculino e Feminino (tente usar o map)
- Transformar os dados da coluna Media em inteiro
- Criar coluna "NPS" onde o investidor é promotor se a média das notas é maior igual a 80, neutro se a média estiver entre 50 e 80, e detrator se for abaixo de 50

In [21]:
import numpy as np;
from functools import reduce;

qtd_ativos=7;
qtd_notas=2;
ar_ativos=np.arange(1,qtd_ativos+1);
ar_notas=np.arange(1,qtd_notas+1);

#Item 1: Criamos uma coluna "Total" para o total dos ativos, a soma deles. Criamos a lista dos campos "Ativo0%i" usando reduce e atribuimos à coluna durante sua criação.
df_investidores['Total']=reduce(lambda x,y: x+y, [df_investidores['Ativo0'+str(i)] for i in ar_ativos]);

#Item 2: Criamos uma coluna "Media" para a média das notas. Também criamos a lista dos campos de nota usando reduce. Caso a quantidade de ativos e/ou notas mude frequentemente, poderíamos percorrer os campos procurando pelos que começam com "notas" e "ativos" em vez de definir o número manualmente como fizemos aqui.
df_investidores['Media']=reduce(lambda x,y: x+y, [df_investidores['Nota'+str(i)] for i in ar_notas])/qtd_notas;

#Item 3: Para separar o domínio do e-mail, fizemos um split da coluna e-mail usando o "@" como separador e colocamos numa matriz de numpy. Selecionamos todas as linhas dessa matriz na coluna 1 (a matriz tinha duas colunas: A primeira tinha o endereço antes do @ e a segunda tinha o domínio). Colocamos esse subarray na coluna "Dominio" do dataframe.  
df_investidores['Dominio']=np.array(df_investidores['Email'].str.split('@', expand=True).values)[:,[1]];

#Item 4: Primeiro renomeamos a coluna "Salario" para "Renda". Depois, apagamos os "$" da coluna Renda e a transformamos em numérica. Colocamos a alteração dentro de um "if" para não levantar um erro de tipo sempre que rodamos essa célula sozinha.
df_investidores.rename(columns={'Salario':'Renda'}, inplace=True);
if (df_investidores.dtypes['Renda']==object):
    df_investidores['Renda']=pd.to_numeric(df_investidores['Renda'].str.replace('$', '',regex=False));
#print(df_investidores['Renda']);

#Item 5: Usamos a função "map" para trocar "Fem" por "Feminino" e "Masc" por "Masculino" e atribuimos o resultado à coluna "Sexo" já existente.
df_investidores['Sexo']=df_investidores['Sexo'].map({'Fem': 'Feminino', 'Masc': 'Masculino'});
#print(df_investidores['Sexo']);

#Item 6: Primeiro, arredondamos a média e depois transformamos a coluna para inteiro.
df_investidores['Media']=pd.to_numeric(df_investidores['Media'].round(), downcast='integer');
#print(df_investidores['Media']);

#Item 7: Primeiro criamos uma função para definir que título cada investidor receberá de acordo com a nota. A função depende do dicionário dict_NPS, que possui a nota mínima para que cada investidor tenha cada título. Após isso, usamos a função "apply" do Pandas para aplicar a função a cada elemento da média e guardamos o resultado dessa aplicação no novo campo "NPS". Vale lembrar que como arredondamos as médias, os clientes que deram notas cuja média foi calculada em 79.6 entraram como promotores. Caso não seja esse o objetivo, poderíamos ter usado floor em vez de round no item 6.
dict_NPS={'promotor':80,'neutro':50,'detrator':0}; 
def definir_NPS(media):
    for i in dict_NPS:
        if media>=dict_NPS[i]:
            return i; 

df_investidores['NPS']=df_investidores['Media'].apply(definir_NPS);
#print(df_investidores['Media'],df_investidores['NPS']);
display(df_investidores);

,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio,NPS
id,,,,,,,,,,,,,,,,,,,,,,,
id0000001,Eunice Hellen do Vale,Feminino,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,63.67,Moderado,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,45,yahoo.com,detrator
id0000002,Sebastião Castelo Branco Júnior,Masculino,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,21.96,Moderado,842.12,5646.09,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65,67,yahoo.com,neutro
id0000003,Romildo Fábio de Carvalho,Masculino,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,62497.64,Agressivo,818.81,5516.52,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37,55,yahoo.com,neutro
id0000004,Lana Albina de Lemos Mumy,Feminino,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,99878.74,Agressivo,0.00,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75,56,hotmail.com,neutro
id0000005,Rose Elisângela Vyrnium de Moura,Feminino,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21,24,yahoo.com,detrator
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
id0038750,Beatriz Maísa de Miranda Milani,Feminino,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,4993.49,Moderado,1001.01,5561.55,0.00,8454.99,0.00,2191.78,489.76,66.644257,6.462871,17699.09,37,gmail.com,detrator
id0038751,Juan dos Santos,Masculino,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030,28532.99,85,hotmail.com,promotor
id0038752,Severino Edson de Viana Loase,Masculino,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,32.41,Agressivo,1163.90,4911.63,3746.62,0.00,6733.79,2338.43,504.32,32.139610,22.742974,19398.69,27,yahoo.com,detrator
id0038753,Kim Mooshi,Masculino,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,914.52,Conservador,0.00,5532.35,2861.32,0.00,4921.77,2024.00,500.65,98.385080,56.611838,15840.09,77,gmail.com,neutro
id0038754,Vinícius Arnaldo de Pereira Mendes,Masculino,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,29076.19,Moderado,981.62,4825.10,0.00,18085.88,5161.07,2257.66,507.95,29.660050,47.371606,31819.28,39,hotmail.com,detrator

## 8 - Calcule os seguintes dados
- Calcule o total investido em cada coluna Ativo (tente usar o apply)
- Qual o menor valor investido em cada ativo?
- Mostre a média e desvio padrão de cada ativo
- Qual a idade do investidor mais velho?
- Qual a mediana da coluna Média?

In [22]:
#Item 1: Para fazer usando o apply, precisamos definir uma função que adicionasse a uma variável externa o valor da linha atual.
# Multiplicamos o valor por 100 para trabalhar com inteiros para evitar o erro de aritmética de ponto flutuante que citamos na observação logo abaixo deste bloco.

ar_ativos=np.arange(1,qtd_ativos+1);

global_total=0;
somas=[];
def funcao(x):
    global global_total;
    global_total=global_total+(100*x);
    return global_total;

for i in ar_ativos:
    global_total=0;
    df_investidores['Ativo0'+str(i)].apply(funcao);
    global_total/=100;
    somas.append(global_total);

#Uma forma mais compacta de obter os mesmo valores seria utilizando o reduce:
#somas=[reduce(lambda x,y: x+y, 100*df_investidores['Ativo0'+str(i)])/100 for i in ar_ativos];

#Item 2: Podemos usar o reduce para selecionar o menor elemento do campo 'Ativo0i', onde i varia de 1 a qtd_ativos+1
# menores=[reduce(lambda x,y: x if x<=y else y, df_investidores['Ativo0'+str(i)]) for i in ar_ativos];
# Outra forma de fazer é usar a função min do próprio pandas:
menores=[df_investidores['Ativo0'+str(i)].min() for i in ar_ativos];

#Item 3: Poderíamos a função "mean" do próprio pandas, mas isso nos levaria ao mesmo erro de aritmética de ponto flutuante do item 1.
#medias2=[df_investidores['Ativo0'+str(i)].mean() for i in ar_ativos];
# Para resolver isso, multiplicamos a coluna por 100 e dividimos o resultado final por 100
medias=[df_investidores['Ativo0'+str(i)].mul(100).mean()/100 for i in ar_ativos];
# Para calcular médias arredondadas para 2 casas decimais, basta acrescentar ".round()" após o ".mean()".
# medias3=[df_investidores['Ativo0'+str(i)].mul(100).mean().round()/100 for i in ar_ativos];
desvios_padrao=[df_investidores['Ativo0'+str(i)].std() for i in ar_ativos];
# Para calcular os desvio padrão arredondados para 2 casas decimais, basta aplicar a função "round()"
# desvios_padrao2=[round(df_investidores['Ativo0'+str(i)].std(),2) for i in ar_ativos];

for i in ar_ativos:
    print("Ativo 0"+str(i));
    print("Total investido:", somas[i-1]);
    print("Menor valor investido:", menores[i-1]);
    print("Média:", medias[i-1]);
    #print("Média:", medias2[i-1]); # média calculada com erro de ponto flutuante
    #print("Média:", medias3[i-1]); # média arredondada para 2 casas decimais
    print("Desvio Padrão:", desvios_padrao[i-1]);
    #print("Desvio Padrão:", desvios_padrao2[i-1]); # desvio padrão arredondado para 2 casas decimais
    print('-'*32);
    
#Item 4: Assim como o item 2, podemos usar o reduce ou a função max.
idade_mais_velho=df_investidores["Idade"].max();
print(f"O investidor mais velho tem {idade_mais_velho} anos");

#Item 5: A mediana da coluna média é:
mediana_media=df_investidores["Media"].median();
min_media=df_investidores["Media"].min();
max_media=df_investidores["Media"].max();
print(f"A mediana da coluna média é {mediana_media}. O que faz sentido, já que o menor valor é {min_media} e o maior é {max_media}");

Ativo 01
Total investido: 32755689.89
Menor valor investido: 0.0
Média: 845.2208775868297
Desvio Padrão: 524.5685250812453
--------------------------------
Ativo 02
Total investido: 168079806.78
Menor valor investido: 0.0
Média: 4337.095700572844
Desvio Padrão: 1909.9558963458026
--------------------------------
Ativo 03
Total investido: 102330550.86
Menor valor investido: 0.0
Média: 2640.5158399132993
Desvio Padrão: 1204.8646942069436
--------------------------------
Ativo 04
Total investido: 407133967.35
Menor valor investido: 0.0
Média: 10505.59857950147
Desvio Padrão: 9084.71470540148
--------------------------------
Ativo 05
Total investido: 172066821.1
Menor valor investido: 0.0
Média: 4439.975772823451
Desvio Padrão: 2068.665604711585
--------------------------------
Ativo 06
Total investido: 44626844.36
Menor valor investido: 0.0
Média: 1151.5416307994012
Desvio Padrão: 1172.0591822263518
--------------------------------
Ativo 07
Total investido: 19379032.72
Menor valor investido: 462.93
Média: 500.0524518759354
Desvio Padrão: 9.998218104115871
--------------------------------
O investidor mais velho tem 51 anos
A mediana da coluna média é 50.0. O que faz sentido, já que o menor valor é 0 e o maior é 100

### **Observação:**
Optamos por fazer contas com inteiros para evitar erros da aritmética de ponto flutuante, como o que acontece quando somamos 4473.77+0.22 por exemplo. Por conta de como as contas com float são feitas, alguns erros estranhos acontecem e não temos um valor preciso e exato quando somamos grande quantidades de números float. Poderíamos corrigir esses erros usando round(), mas nada garantiria que seria 100% correto e preciso na casa dos centavos (dependendo da quantidade de erros e de dados processados).

In [23]:
4473.77+0.22

4473.990000000001

## 9 - Responder as perguntas abaixo

- Quantos investidores são promotores?
- Quantos investidores são do sexo feminino?
- Quantos investidores investiram mais de 16000 no Ativo04?
- Quantos investidores investiram mais de 16000 no Ativo04 e menos de 5000 no Ativo05?
- Quantos investidores do sexo feminino tem mais de 25 anos e investiu menos de 10000? (bonus: por que esse dado seria importante para a estratégia da nossa empresa?

- Quantos investidores tem em cada estado (dica: use groupby)
- Qual é a soma do total investido por cada estado?
- Como os investidores se distribuem em promotores, detratores e neutros?
- Qual é a média do total investido por promotores, detratores e neutros?

In [27]:
print(f"Há {df_investidores[df_investidores.NPS=='promotor'].count()[0]} investidores promotores");

print(f"Há {df_investidores[df_investidores.Sexo=='Feminino'].count()[0]} investidores do sexo feminino");

print(f"{df_investidores[df_investidores.Ativo04>16000].count()[0]} pessoas investiram mais de 16.000 no Ativo 04");

print(f"{df_investidores[(df_investidores.Ativo04>16000) & (df_investidores.Ativo05<5000)].count()[0]} pessoas investiram mais de 16.000 no Ativo 04 e menos de 5.000 no Ativo 05");

fem_menos25_menos10k=df_investidores[(df_investidores.Sexo=='Feminino') & (df_investidores.Idade<25) & (df_investidores.Total<5000)].count()[0];
fem_menos25=df_investidores[(df_investidores.Sexo=='Feminino') & (df_investidores.Idade<25)].count()[0];

fem_mais25_menos10k=df_investidores[(df_investidores.Sexo=='Feminino') & (df_investidores.Idade>25) & (df_investidores.Total<5000)].count()[0];
fem_mais25=df_investidores[(df_investidores.Sexo=='Feminino') & (df_investidores.Idade>25)].count()[0]

masc_menos25_menos10k=df_investidores[(df_investidores.Sexo=='Masculino') & (df_investidores.Idade<25) & (df_investidores.Total<5000)].count()[0];
masc_menos25=df_investidores[(df_investidores.Sexo=='Masculino') & (df_investidores.Idade<25)].count()[0];

print(f"{fem_menos25_menos10k} investidores do sexo feminino têm menos de 25 anos e investiu menos de 10.000 no total. Isso é aproximadamente {fem_menos25_menos10k*100/fem_menos25:.2f}% do total de investidores do sexo feminino com menos de 25 anos.");

print(f" Para investidores do sexo masculino, essa taxa é de {masc_menos25_menos10k*100/masc_menos25:.2f}%. E para mulheres com mais de 25 anos, essa taxa é de {fem_mais25_menos10k*100/fem_mais25:.2f}%. São taxas bem semelhantes, o que indica que a faixa etária e o sexo não estão influenciando de forma considerável na condição do valor total investido ser inferior ou superior a 10.000. Saber essas taxas influencia no tipo de abordagem da empresa com os atuais clientes, para saber que produtos oferecer em futuras abordagens comerciais.");

print("Por outro lado, isso também pode significar que clientes (independente do sexo e faixa etária) que estão dispostos a investir algum valor na empresa, normalmente investem mais do que 10 mil reais. Portanto, cada novo cliente pode aumentar os valores investidos significativamente.");

print("Em situações onde o ambiente seja favorável (por exemplo, se os clientes estão em um bom momento para investir, se o país está numa condição favorável, se os ativos estão com um crescimento alto), a empresa também pode concentrar esforços em aumentar o valor investido por esses clientes específicos. Por exemplo, promovendo algum tipo de estímulo para novos investimentos acima de 10.000.");

print('_'*32);
print('A seguir, apresentamos a quantidade de investidores agrupada por estado:');
display(df_investidores.groupby(['Estado'])['Nome'].count());
print('_'*32);
print('A seguir, apresentamos o valor total investido por estado:');
display(df_investidores.groupby(['Estado'])['Total'].sum());

print('A quantidade de investidores e de capital investido por estado é bem distribuída, o que não faz sentido proporcionalmente. Caso esses dados fossem reais, seria interessante propor à empresa um maior investimento em estados mais populosos, visto que a quantidade de investidores neles ainda é bem pequena (proporcionalmente). Especialmente, SP, MG, RJ e BA.');

print('_'*32);
print('A seguir, apresentamos a quantidade de investidores agrupada por Net Promoter Score:');
display(df_investidores.groupby(['NPS'])['Nome'].count());

print('_'*32);
print('A seguir, apresentamos a quantidade de valor investido agrupada por Net Promoter Score:');
display(df_investidores.groupby(['NPS'])['Total'].sum().astype(str));

print(f'Isso dá uma média por investidor de:');
display(df_investidores.groupby(['NPS'])['Total'].mean());
print("indicando que a nota dada pelo investidor não interfere no valor investido (talvez por conta do banco de dados ter sido gerado artificialmente).")

Há 2845 investidores promotores
Há 19385 investidores do sexo feminino
10689 pessoas investiram mais de 16.000 no Ativo 04
5374 pessoas investiram mais de 16.000 no Ativo 04 e menos de 5.000 no Ativo 05
35 investidores do sexo feminino têm menos de 25 anos e investiu menos de 10.000 no total. Isso é aproximadamente 0.38% do total de investidores do sexo feminino com menos de 25 anos.
 Para investidores do sexo masculino, essa taxa é de 0.40%. E para mulheres com mais de 25 anos, essa taxa é de 0.35%. São taxas bem semelhantes, o que indica que a faixa etária e o sexo não estão influenciando de forma considerável na condição do valor total investido ser inferior ou superior a 10.000. Saber essas taxas influencia no tipo de abordagem da empresa com os atuais clientes, para saber que produtos oferecer em futuras abordagens comerciais.
Por outro lado, isso também pode significar que clientes (independente do sexo e faixa etária) que estão dispostos a investir algum valor na empresa, normalmente investem mais do que 10 mil reais. Portanto, cada novo cliente pode aumentar os valores investidos significativamente.
Em situações onde o ambiente seja favorável (por exemplo, se os clientes estão em um bom momento para investir, se o país está numa condição favorável, se os ativos estão com um crescimento alto), a empresa também pode concentrar esforços em aumentar o valor investido por esses clientes específicos. Por exemplo, promovendo algum tipo de estímulo para novos investimentos acima de 10.000.
________________________________
A seguir, apresentamos a quantidade de investidores agrupada por estado:

Estado
AC    1435
AL    1376
AM    1495
AP    1438
BA    1484
CE    1465
DF    1470
ES    1472
GO    1394
MA    1454
MG    1407
MS    1436
MT    1390
PA    1421
PB    1405
PE    1477
PI    1503
PR    1371
RJ    1466
RN    1472
RO    1440
RR    1495
RS    1393
SC    1430
SE    1319
SP    1464
TO    1382
Name: Nome, dtype: int64

________________________________
A seguir, apresentamos o valor total investido por estado:

Estado
AC    35362505.80
AL    33763479.45
AM    37036424.81
AP    34996432.12
BA    36188507.51
CE    35959807.36
DF    36277409.37
ES    36112618.12
GO    34234860.26
MA    34952752.65
MG    33820223.17
MS    35279491.41
MT    34206427.27
PA    34877463.97
PB    34248820.05
PE    35353945.12
PI    37038930.90
PR    33002424.19
RJ    35910946.83
RN    35755623.32
RO    34341430.55
RR    36543504.21
RS    34300026.29
SC    35223280.67
SE    32496697.65
SP    35624582.45
TO    33464097.56
Name: Total, dtype: float64

A quantidade de investidores e de capital investido por estado é bem distribuída, o que não faz sentido proporcionalmente. Caso esses dados fossem reais, seria interessante propor à empresa um maior investimento em estados mais populosos, visto que a quantidade de investidores neles ainda é bem pequena (proporcionalmente). Especialmente, SP, MG, RJ e BA.
________________________________
A seguir, apresentamos a quantidade de investidores agrupada por Net Promoter Score:

NPS
detrator    19075
neutro      16834
promotor     2845
Name: Nome, dtype: int64

________________________________
A seguir, apresentamos a quantidade de valor investido agrupada por Net Promoter Score:

NPS
detrator    465082135.76
neutro      411776740.56
promotor     69513836.74
Name: Total, dtype: object

Isso dá uma média por investidor de:

NPS
detrator    24381.763343
neutro      24461.015835
promotor    24433.686025
Name: Total, dtype: float64

indicando que a nota dada pelo investidor não interfere no valor investido (talvez por conta do banco de dados ter sido gerado artificialmente).